body {
    background-color: gray;
}

section {
    background-color: chartreuse;
}

h1 {
    background-color: gainsboro;
}
p {
    background-color: darkmagenta;
}

h2 {
    background-color: ghostwhite;
}

.color {
    background-color: antiquewhite;
}

ul {
    background-color: aqua;
}
