body {
    background-color: gray;
}

section {
    background-color: chartreuse;
}

h1 {
    background-color: gainsboro;
    color: brown;
}
p {
    background-color: darkmagenta;
    color: aqua;
}

h2 {
    background-color: ghostwhite;
    color: darkblue;
}

span p {
    background-color: antiquewhite;
    color: darkred;
}

ul {
    background-color: aqua;
    color: red;
}
